<div>
  <h1>Bienvenidos a ART CUADROS </h1>
  <div style="text-align:center">
    <img src="cid:logo" />
  </div>
  <h3>¡Hola, {{user.firstName}}!</h3>
  <p>Gracias por elegirnos, ahora puedes escoger el cuadro de tu preferencia.</p>
  <br />
  <p>cordialmente</p>
  <p>ART CUADROS ...</p>
</div>